mixin css(src)
    link(rel="stylesheet", href=src)

mixin js(src)
    script(src=src)

doctype html5
html
    head
        title #{title}
        meta(name="viewport", content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0")
        link(rel="shortcut icon", href="/favicon.png", type="image/png")

        +css("/index.css")
        +js("/lib/jquery/dist/jquery.min.js")
        +js("/lib/kkontroller/kkontroller.js")
        +js("/index.js")

    body.blog
        .menu.control
            for name, j in stuff
                - var cls = 'control' + (j===0 ? ' control_active' : '');
                a(href='/stuff/' + name, class=cls)= name

        .hint
            .keys
                .key.key_up
                .key.key_left
                .key.key_down
                .key.key_right

        .footer
            |поехавшие интерфейсы
            br
            |2014 - 2015г
