.blog
{
    font-family: Helvetica, sans-serif;

    margin: 0;
    padding: 30px;
    font-size: 14px;
}
.blog a
{
    text-decoration: none;

    opacity: .9;
    color: #3c98c8;
    outline: 0;
}
.blog:before
{
    position: absolute;
    z-index: -1;
    left: 0;

    width: 100%;
    height: 300px;

    content: '';

    border-radius: 50%;
    background-color: #eee;

    -webkit-filter: blur(50px);
            filter: blur(30px);
}
.blog:before
{
    top: 0;

    margin-top: -170px;
}

.blog a:visited
{
    color: #2e749b;
}

.menu a
{
    line-height: 2em;

    position: relative;

    display: inline-flex;
    overflow: hidden;

    box-sizing: border-box;
    width: 90px;
    height: 90px;
    padding: 0 10px;

    -webkit-transition: transform .01s ease-out;
            transition: transform .01s ease-out;

    border: 2px dashed rgba(0,0,0,0);
    text-shadow: 0 0 2px #fff;
}
.menu a:not(:last-child)
{
    margin: 0 3px 3px 0;
}
.menu a:active
{
    background: #32c9ea;
    box-shadow: inset 0 0 0 3px rgba(255,255,255,.1);
}
.menu a:hover
{
    border-color: rgba(0,0,0,.05);
}
.menu a:focus
{
    -webkit-transform: scale(.97);
            transform: scale(.97);

    border-color: rgba(0, 0, 0, .18);
}
.menu a:hover:focus
{
    border-color: rgba(0, 0, 0, .25);
}

.hint
{
    position: absolute;
    right: 5px;
    bottom: 5px;

    pointer-events: none;
}
.keys
{
    width: 135px;
    height: 70px;
}
.key
{
    position: relative;

    display: inline-block;

    width: 40px;
    height: 30px;
    margin: 0 5px 5px 0;

    color: #8a8a8a;
    border-radius: 10px 0 10px 0;
    box-shadow: inset 0 0 10px 2px rgba(0,0,0,.05);
}

.key_up
{
    margin: 0 46px 5px;
}
.key_right
{
    top: -1px;
}
.key:after
{
    position: absolute;
    top: 6px;
    left: 15px;

    width: 0;
    height: 0;
}
.key_up:after
{
    content: '↑';
}
.key_down:after
{
    content: '↓';
}
.key_left:after
{
    content: '←';
}
.key_right:after
{
    content: '→';
}

.key_left:after,
.key_right:after
{
    margin-left: -3px;
}


.footer
{
    font-family: Helvetica, Verdana, monospace;
    font-size: 80%;
    line-height: 1.5em;

    position: absolute;
    bottom: 10px;

    width: 100%;

    text-align: center;

    color: #d0d0d0;

    lefT: 0;
}
